body {
    background: #fff;
    font-family: sans-serif;
    color: #666;
}

h1, h2 {
    font-weight: 700;
    line-height: 2;
}

input[type='checkbox'] + label {
    padding-left: .5em;
}

#canvas
{
    margin: 20px auto;

}
label,
#filterToggle {
    display: inline-block;
}

#venues,
#filterToggle {
    background: #fefefe;
    box-shadow: 0 1px 2px #efefef;
}

#venues {
    padding: .5em;
    overflow: hidden;
}

#venues ul, #venues h2 {
    clear: both;
}

#venues li {
    float: left;
    width: 25%;
    line-height: 1.5;
    vertical-align: middle;
}

#filterToggle {
    border-radius: 0 0 3px 3px;
    cursor: pointer;
    margin-left: .5em;
    margin-top: -1px;
    padding: .5em;
}